
body {
    background: #f8f9fa;
}

.row {
    margin: unset;
}


.mail-tab {
    height: 200px;
    width: 100%;
    padding: 0px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    border: 0px solid #FFCC00;
    box-shadow: 0px 0px 20px #efefef;
    transition: all 0.5sease 0s;
    box-shadow: 0px 2px 7px 0px #000000c7;
}

    .mail-tab p {
        margin: 9px 0px 0px 0px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
    }

    .mail-tab:hover, .mail-tab.active {
        background: #fff;
        border: 0px solid #f0ac0d;
        box-shadow: 0 2px 16px #000000c7;
    }

    .mail-tab .check-icon {
        position: absolute;
        top: -40px;
        margin: 0 auto 0 -20px;
        left: 50%;
        opacity: 0;
        transition: all 0.5s ease 0s;
    }

    .mail-tab:hover .check-icon, .mail-tab.active .check-icon {
        opacity: 1;
        top: -20px;
    }

    .mail-tab .check-icon img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        box-shadow: 0 1px 1px #168150;
    }

    .mail-tab .ctgy-icon {
        height: 60px;
        width: 60px;
        margin-left: -30px;
        position: absolute;
        left: 50%;
    }

        .mail-tab .ctgy-icon img {
            height: 60px;
            width: 60px;
        }

    .mail-tab h3 {
        text-align: center;
        color: #999999;
        padding: 15px 0;
        margin-top: 0;
        font-size: 22px;
        letter-spacing: 1px;
    }

    mail-tab:hover h3, .mail-tab.active h3 {
        color: #464646;
    }

    .mail-tab i {
        text-align: center;
        /*color: rgba(153,153,153,1);*/
        padding: 0;
        font-size: 36px;
        width: 100%;
        /* margin-top: 20px;*/
        /*visibility: hidden;*/
    }

    .mail-tab .cta-btn {
        position: absolute;
        width: 100%;
        bottom: -25px;
        margin-left: -25px;
        text-align: center;
        opacity: 0;
        transition: all 0.5s ease 0s;
    }

    .mail-tab:hover .cta-btn, .mail-tab.active .cta-btn {
        opacity: 1;
        bottom: -9px;
    }

    .mail-tab .cta-btn a {
        background: #32BA7C;
        text-align: center;
        padding: 10px 35px;
        font-size: 14px;
        color: #fff;
        border-radius: 20px;
        letter-spacing: 1px;
        text-decoration: none;
        box-shadow: 0 -1px 1px #168150
    }


.cta-title {
    text-align: center;
    color: #888888;
    padding: 15px 0;
    font-size: 26px;
    letter-spacing: 1px;
    margin-top: 40px;
}


.fuller {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}


.fuller .full-anchor {
    background: #00000000 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}




.card-information {
    /* padding: 25px 0px 0px 0px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    border: 0px solid #FFCC00;
    box-shadow: 0px 0px 20px #efefef;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 2px 7px 0px rgb(141 139 139 / 78%);
    margin-left: 0px;
    margin-right: 10px; */

    margin: 0 auto;
    padding: 45px 25px 25px 30px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    border: 0px solid #FFCC00;
    box-shadow: 0px 0px 20px #efefef;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 2px 7px 0px #000000c7;
}


.card-title {
    padding: 30px 0px 0px 0px;
    box-shadow: 0px 2px 7px 0px #000000c7;
    border-radius: 20px 20px 0px 0px;
}


.card-content {
    box-shadow: 0px 2px 7px 0px #000000c7;
    border-radius: 0px 0px 20px 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-top-14 {
    padding-top: 14px;
}


.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-23 {
    padding-top: 23px;
}

.padding-top-24 {
    padding-top: 24px;
}